@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-family: 'Mukta', sans-serif;
    font-weight: 200;
}

.container {
    background: url(./robot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 5rem;
}

.wrapper {
    width: 35rem;
    padding: 1.6rem;
    background: #ffffff;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.5rem;
}
  
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 230, 230);
    -webkit-transition: .2s;
    transition: .2s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 2.2rem;
    width: 2.2rem;
    left: .25rem;
    bottom: .17rem;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}
  
input:checked + .slider {
    background-color: #000000;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(230, 230, 230);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(1.3rem);
    -ms-transform: translateX(1.3rem);
    transform: translateX(1.3rem);
}
  
.slider.round {
    border-radius: 30rem;
}
  
.slider.round:before {
    border-radius: 50%;
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 7.5rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 7rem);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.8rem;
    border: 1px solid grey;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    transition: .2s ease-in;
    font-family: 'Mukta', sans-serif;
    font-weight: 500;
}

.calculator-grid > button:hover {
    background-color: rgba(192, 191, 191, 0.9);
}

.calculator-grid > button:active {
    background-color: rgba(169, 166, 166, 0.9);
    transform: scale(.98);
}

.span-two {
    grid-column: span 2;
}
  
.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}
  
.output .current-operand {
    color: white;
    font-size: 2.5rem;
}

/* dark theme */

h1.dark {
    color: #ffffff;
}

.wrapper.dark {
    background: #181818;
}

.output.dark {
    background-color: #fffdfd;
}

.output.dark .previous-operand {
    color: #000000;
}

.output.dark .current-operand {
    color: #000000;
}

.calculator-grid.dark > button {
    background: #191919;
    color: #ffffff;
    border: 1px solid #444242;
    outline: none;
}

.calculator-grid.dark > button:hover {
    background: #353434;
}

.calculator-grid.dark > button:active {
    background: #2c2b2b;
}
